<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="stylesheet" href="./assets/index.css">
</head>

<body>
<div class="content">
  <h1>List</h1>
  {{#if recordsVisible}}
    <h3>Entries:</h3>
      <div class="record__list">
        {{#each records}}
          <div class="record__item">
            <p class="record__field">Name: {{name}}</p>
            <p class="record__field">Address: {{address}}</p>
            <p class="record__field">Telephone: {{telephone}}</p>
            <p class="record__field">Note: {{note}}</p>
          </div>
        {{/each}}
      </div>
  {{else}}
    <h3>No records in database.</h3>
  {{/if}}

  <input
    type="button"
    value="Back"
    onclick="window.history.back();"
  >
</div>
</body>
</html>